.App {
  text-align: center;
}

.counter {
  color: rgb(122, 83, 34);
  font-size: 2rem;
}

button {
  background-color: rgb(211, 196, 183);
  border-radius: 0.5rem;
  border-color: rgb(221, 139, 39);
  color: rgb(72, 73, 75);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.2rem;
}
